<!-- Validation failure messages -->
<% if @meal_time.errors.any? %>
  <% @meal_time.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Meal Time</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_meal_time" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for meal -->
      <div class="form-group">
        <label for="meal" class="control-label">
          Meal
        </label>

        <input type="text" id="meal" name="meal" placeholder="Meal" class="form-control" value="<%= @meal_time.meal %>">
      </div>

      <button class="btn btn-success">
        Create Meal Time
      </button>
      or
      <a href="/meal_times">Cancel</a>
    </form>
  </div>
</div>
