<div class="page-header">
  <h3>Meal Time #<%= @meal_time.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Meal</dt>
      <dd><%= @meal_time.meal %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/meal_times" class="btn btn-primary">
        Back
      </a>
      <a href="/meal_times/<%= @meal_time.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_meal_time/<%= @meal_time.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
